<a href="https://colab.research.google.com/github/USIS032421/Mis-programaciones-en-COLAB/blob/main/Mi_Programacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")

Hola Mundo

In [ ]:
print("Mi nombre es: ","Roberto Francisco")

Mi nombre es:  Roberto Francisco

In [ ]:
nombre = "Roberto Reyes"
print("Hola ", nombre)

edad = 25
print ("Tu edad es: ", nombre)

Hola  Roberto Reyes
Tu edad es:  Roberto Reyes

In [ ]:
nombre = "Roberto Reyes"
print ("Tu nombre es: ", nombre, " longitud de tu nombre: ", len(nombre), "Iniciales: ", nombre[0],nombre[5])

Tu nombre es:  Roberto Reyes  longitud de tu nombre:  13 Iniciales:  R t

In [ ]:
num1= 5
num2= 4.6
resp= num1 + num2
print("la suma de num1:",num1,"+ num2:",num2,"es igual a:",resp)

la suma de num1: 5 + num2: 4.6 es igual a: 9.6

In [ ]:
num1= 72
num2= 38
resp = num1 - num2
print("La resta de num1:",num1,"- num2:",num2, "es igual a:",resp)

La resta de num1: 72 - num2: 38 es igual a: 34

In [ ]:
num1= float (input("Ingrese un numero entero: "))
num2= float (input ("Ingrese otro Num decimal: "))
resp = num1 + num2
print("SUma",resp)

Ingrese un numero entero: 5
Ingrese otro Num decimal: 4.5
SUma 9.5

In [ ]:
num1= 65
num2= 17
resp = num1 * num2
print ("La multiplicacion de num1:",num1,"* num2:",num2,"es igual a",resp)

La multiplicacion de num1: 65 * num2: 17 es igual a 1105

In [ ]:
nombre = input("Dime tu nombre: ")
print(nombre, type(nombre),len(nombre))
print(nombre[0]),(nombre[1]),(nombre[2]),(nombre[3])

Dime tu nombre: Fran
Fran <class 'str'> 4
F

(None, 'r', 'a', 'n')

In [ ]:
resp = 4 + 4 * 6 / 2 + 1
print(resp)

17.0

In [ ]:
gustaProgramacion = True #False
print("Te gusta programar: ",gustaProgramacion)

gustaDiseño = False
print("Te gusta Disenar?: ",gustaDiseño)

Te gusta programar:  True
Te gusta Disenar?:  False

In [ ]:
def suma(num1, num2):
  return num1 + num2
  print("la suma de 5 + 7 = "), suma(5,7)

In [ ]:
def suma(num1, num2):
 return num1 + num2
 num1 = float(input("Dime un numero:" ))
 num2 = float(input("Dime otro numero"))

 print("La suma es:", suma,num1 + num2)

In [ ]:
(num1 = float (input("num1: "))
num2 = float (input("num2: "))
print ("La respuesta es: ", suma(num1, num2))

In [ ]:
lista = [2,7,8,6,9]

In [ ]:
cuadrado = lambda num: num**2

In [ ]:
print(type (cuadrado))

<class 'function'>

In [ ]:
cubo = lambda num: num**3

In [ ]:
potencia = lambda num,n: num**n

In [ ]:
print("Lista: ", lista, " al cuadrado: ", list( map(cuadrado,lista) ), " al cubo: ", list(map(cubo, lista)) )

Lista:  [2, 7, 8, 6, 9]  al cuadrado:  [4, 49, 64, 36, 81]  al cubo:  [8, 343, 512, 216, 729]

In [ ]:
print( "2 al cubo es: ", potencia(4, 5) )

2 al cubo es:  1024

In [ ]:
print("Lista Original: ", lista, " al cubo: ", list(map(lambda num: num**3, lista)) )

Lista Original:  [2, 7, 8, 6, 9]  al cubo:  [8, 343, 512, 216, 729]

In [ ]:
fpares = lambda num: num%2==0

In [ ]:
fimpares = lambda num: num%2!=0

In [ ]:
print("Lista original: ", lista, " solo pares: ", list(filter(fpares, lista)), " los impares: ", list(filter(fimpares, lista)) )

Lista original:  [2, 7, 8, 6, 9]  solo pares:  [2, 8, 6]  los impares:  [7, 9]

In [ ]:
  suma = lambda a,b: a+b

In [ ]:
#import functools
print("Lista original: ", lista, "la suma: ", functools.reduce(suma, lista), "media Aritmetica: ", functools.reduce(suma,lista)/len(lista) )

Lista original:  [2, 7, 8, 6, 9] la suma:  32 media Aritmetica:  6.4

In [ ]:
c= 27

In [ ]:
def convertirCaF(c):
  return (c*9/5) + 32

In [ ]:
print("Celsius a F: ", convertirCaF(c))

Celsius a F:  80.6

In [ ]:
gradosCiudades = [27, 30, 32, 35, 40, 45]

In [ ]:
print(gradosCiudades, "Respuesta: ", list(map(convertirCaF, gradosCiudades)) )

[27, 30, 32, 35, 40, 45] Respuesta:  [80.6, 86.0, 89.6, 95.0, 104.0, 113.0]

In [ ]:
f= 80.6

In [ ]:
def convertirFaC(f):
  return (f-32) * 5/9

In [ ]:
print("farenheit a C: ", convertirFaC(f))

farenheit a C:  26.999999999999996

In [ ]:
gradosf = [80.6, 86.0, 89.6, 95.0, 104.0, 113.0]

In [ ]:
print(gradosf, "Respuesta: ", list(map(convertirFaC, gradosCiudadesclandesitas)) )

[80.6, 86.0, 89.6, 95.0, 104.0, 113.0] Respuesta:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

In [ ]:
print(gradosf, "Respuesta: ", list(map(lambda f: (f-32)*5/9, gradosf)) )

[80.6, 86.0, 89.6, 95.0, 104.0, 113.0] Respuesta:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

In [ ]:
c= 27

In [ ]:
convertirFaaCe = lambda c: (f-32) * 5/9
c= float(input("ingrese Grado C:"))
print("farenheit a C: ", convertirFaaCe(c))

ingrese Grado C:32
farenheit a C:  26.999999999999996

**Tarea**
*Hacer un algoritmo en python que convierta de grados celsius a kelvin y viceversa, usando funciones de usuario y lambda.

*Hacer un algoritmo en python que encuentre la nota final del ciiclo d e una Materia en particular usando funciones de usuario y lambda.

In [ ]:
c= 27

In [ ]:
def convertirCaK(c):
  return (c+273.15)

In [ ]:
print("Celcius a K: ", convertirCaK(c))

Celcius a K:  300.15

In [ ]:
k=273.15

In [ ]:
def convertirKaC(k):
  return (k-273.15) - 273.1

In [ ]:
print("Kelvin a C: ",convertirKaC(k))

Kelvin a C:  -273.1

In [ ]:
c= 27

In [ ]:
convertirCeaKv = lambda c: (c+273.15)
c= float(input("ingrese Grado C: "))
print("celcius a K: ", convertirCeaKv(c))

ingrese Grado C: 27
celcius a K:  300.15

In [ ]:
edad = int(input("Dime tu edad: "))
if(edad<2 ):
  print("Eres un bebe")
elif(edad<=12):
  print("Eres un niño")
elif(edad<=18 ):
  print("Eres un adolescente")
elif(edad<=55):
  print("Eres un adulto joven")
elif(edad<=65 ):
  print("Eres un adulto")
elif(edad<=85 ):
  print("Eres un adulto mayor")
elif(edad<=130):
  print("Larga vida...")
print("termino")

In [ ]:
nt = int(input("Dime la tabla de multiplicar a generar: "))
i=1
while i<=10:
  print( nt, "x",i,"=", nt*i )
  i+=1

In [ ]:
nt = int(input("Dime la tabla que deseas generar: "))
for i in range(1,11):
 print(nt,"x",i,"=", nt*i)

Dime la tabla que deseas generar: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [ ]:
S = "s"
while(S=="s"):
  nt = int(input("Dime una tabla: "))
  for i in range(1,11):
    print(nt,"x",i,"=", nt*i)
    s = input("Desea continuar presione la tecla s, sino cualquier otra")

7 x 1 = 7
7 x 2 = 14